header {
    /* background-color: #333; Background color for the header */
    background-color: #04471C; /* Background color for the header */

    color: #fff; /* Text color for the header */
    padding: 20px 0; /* Padding on top and bottom of the header */
    text-align: center; /* Center-align the content within the header */
    padding-top: 40px;
}

.secondaryHeader{
    margin-top:-50px;
}
nav{
    text-align:right;
    padding-right: 75px;
}

footer {
    background-color: #0D2818; /* Background color for the footer */
    color: #fff; /* Text color for the footer */
    padding: 20px 0; /* Padding on top and bottom of the footer */
    text-align: center; /* Center-align the content within the footer */
    margin-top: 320px;
}

footer p {
    margin: 5px 0; /* Add spacing between paragraphs within the footer */
}

footer a {
    text-decoration: none; /* Remove underline from links */
    color: #fff; /* Text color for links in the footer */
    font-weight: bold; /* Make links bold */
}

footer a:hover {
    text-decoration: underline; /* Underline links on hover */
}

tr.selected {
    background-color: lightblue; 
}

tr:hover {
    color: #04771C;
    cursor: pointer;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px; /* Adjust as needed */
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #2E7D32; /* Dark green for header */
    color: #fff;
}

td {
    background-color: #4CAF50; /* Light green for table cells */
    color: #fff;
}

button {
    background-color: #04471C; /* Dark green for buttons */
    color: #fff;
    padding: 8px 12px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #022E10; /* Slightly darker green on hover */
}

tr.selected {
    background-color: #04771C; /* Dark green for selected rows */
    color: #fff;
}

tr:hover {
    background-color: #04771C; /* Dark green on hover */
    cursor: pointer;
    color: #fff;
}

h2.hidden {
    display: none;
  }

  .headerButton {
    background-color: #058c42;
    color: white;
    padding: 16px;
    font-size: 16px;
  }
  
  .headerButton:hover, .headerButton:focus {
    background-color: #16db65;
  }
  
  .panel {
    position: relative;
    display: inline-block;
    
  }
  
  .credit-content {
    position: absolute;
    background-color: white;
    min-width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    bottom: 40px;
  }
  
  .credit-content a {
    color: black;
    padding: 12px 16px;
    display: block;
  }
  
  .panel a:hover {
      background-color: #16db65;
      bottom: 100%;
  }

  .single-song-container{
      display: grid;
      grid-template-columns: 300px, 300px;
  }
         
  .singleHeader { 
    grid-area: header; 
    background-color: #058C42;
    color: white;
    padding-left: 10px;

  }

  .fastFacts { 
    grid-area: facts; 
    background-color: #058C42;
    color: white;
    padding-left: 10px;
  }

  .analytics { 
    grid-area: analytics;
    background-color: #058C42;
    color: white;
    padding-left: 10px;
   }

  .radarChart { 
    grid-area: radar;
    background-color: rgb(203,246,221);
    margin: 10px;

   }

  .single-song-body {
    display: grid;
    grid-template-areas:
    'header header radar radar radar radar'
    'facts facts radar radar radar radar'
    'analytics analytics radar radar radar radar';
    padding: 10px;
}

#inside-div {
    max-width: 800px;
    padding: 20px;
    margin: 0 auto; 
    display: flex;
    justify-content: left; 
    align-items: flex-start; 
}

.filterButtons {
    display: flex;
    /* flex-direction: column;  */

}

#table-container {
    width: 70%; 
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;

}
#filterButton{
    display: flex;
}
#clearButton{
    display: table-row;
}

.filterButtons {
    display: flex;
    flex-direction: column;
}

.filterButtons > div {
    margin-bottom: 10px;
}



 