header {
    /* background-color: #333; Background color for the header */
    background-color: #04471C; /* Background color for the header */

    color: #fff; /* Text color for the header */
    padding: 20px 0; /* Padding on top and bottom of the header */
    text-align: center; /* Center-align the content within the header */
    padding-top: 40px;
}

.secondaryHeader{
    margin-top:-50px;
}
nav{
    text-align:right;
    padding-right: 75px;
}

footer {
    background-color: #0D2818; /* Background color for the footer */
    color: #fff; /* Text color for the footer */
    padding: 20px 0; /* Padding on top and bottom of the footer */
    text-align: center; /* Center-align the content within the footer */
    margin-top: 320px;
}

footer p {
    margin: 5px 0; /* Add spacing between paragraphs within the footer */
}

footer a {
    text-decoration: none; /* Remove underline from links */
    color: #fff; /* Text color for links in the footer */
    font-weight: bold; /* Make links bold */
}

footer a:hover {
    text-decoration: underline; /* Underline links on hover */
}

tr.selected {
    background-color: lightblue; 
}

tr:hover {
    color: #04771C;
    cursor: pointer;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px; /* Adjust as needed */
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #2E7D32; /* Dark green for header */
    color: #fff;
}

td {
    background-color: #4CAF50; /* Light green for table cells */
    color: #fff;
}

button {
    background-color: #04471C; /* Dark green for buttons */
    color: #fff;
    padding: 8px 12px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #022E10; /* Slightly darker green on hover */
}

tr.selected {
    background-color: #04771C; /* Dark green for selected rows */
    color: #fff;
}

tr:hover {
    background-color: #04771C; /* Dark green on hover */
    cursor: pointer;
    color: #fff;
}

h2.hidden {
    display: none;
  }

 